* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}
.main {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav {
  height: 80px;
  display: flex;
  padding: 10px;
  background-color: rgba(249, 242, 242, 0.8);
  width: 100%;
  justify-content: center;
  align-items: center;
}
.search-container input {
  height: 33px;
  background-color: #000000ad;
  width: 545px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 10px;
  margin-right: 7px;
}
.search-container {
  position: relative;
}
.search-results {
  position: absolute;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  top: 57px;
  border-radius: 7px;
  transition: 0.2s;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.788);
  z-index: 1;
}
.search-result .movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-result .movie-info button {
  margin: 20px 10px;
  background: #21ba45;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 5px;
  border-radius: 4px;
}

.search-result {
  display: flex;
  padding: 11px;
}
.search-result img {
  height: 150px;
}
.search-result > div span {
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
}

.search-container input:focus,
.search-container button:focus,
.footer button:focus,
.search-result .movie-info button:focus {
  outline: none;
}
button {
  padding: 5px 10px;
  margin-top: 12px;
  border: 4px solid crimson;
  background-color: crimson;
  color: white;
  border-radius: 7px;
  cursor: pointer;

  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* button:hover {
  
}  */
.movie-info button :hover {
  background: #21ba4593;
}
.favourite-btn:hover {
  background-color: rgba(220, 20, 60, 0.801);
}
.unfavourite-btn {
  background-color: green;
}

.unfavourite-btn:hover {
  background-color: rgba(0, 128, 0, 0.781);
}
#search-btn {
  padding: 3px 5px;
}
#search-btn:hover {
  cursor: pointer;
  background-color: white;
  color: crimson;
  transition: 0.3s;
  border: 4px solid crimson;
}
/* .search-container button:hover,
.footer button:hover {
  cursor: pointer;
  background-color: white;
  color: crimson;
  border: 5px solid crimson;
} */
.sear
/* #search-btn {
  
  /* background: #f2711c;
  height: 43px;
  color: #fff;
  border: none;
  font-size: 15px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  top: -1px; */
/* }  */

/* #search-btn :hover {

} */
.main {
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
}
.main .tabs {
  display: flex;
  font-size: 20px;
}
.main .tabs .tab {
  padding: 6px 15px;
  margin-top: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 3px solid darkblue;
  background-color: white;
  color: darkblue;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.active-tabs {
  background: darkblue !important;
  color: white !important;
}
.main .tabs .tab:hover {
  cursor: pointer;
  background: #e1e1e1;
  /* font-weight: bold; */
}
.movie-card {
  display: flex;
  max-width: 1000px;
  background: #fff;
  padding: 30px;
  border: none;
  border-radius: 7px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #f1f1f1;
  display: flex;
}
.movie-card:not(:first-child) {
  margin-top: 20px;
}
.movie-card:last-child {
  margin-bottom: 50px;
}
.movie-card .left {
  flex: 1;
}
.movie-card .left img {
  height: 250px;
}
.movie-card .right {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.movie-card .title {
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 600;
}
.movie-card .plot {
  margin-top: 20px;
  padding: 0 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}
@media (max-width: 616px) {
  .movie-card .plot {
    font-size: 13px;
  }
}
@media (max-width: 664px) {
  .search-container input {
    width: 70%;
  }
}
.footer .rating {
  font-size: 20px;
  font-weight: 600;
  color: crimson;
  text-shadow: 2px #6d6d6d;
}
.footer button {
  font-size: 15px;
  padding: 7px 10px;
  text-shadow: none;
  border-radius: 3px;
  border: none;
  font-weight: 600;
}
/* .favourite-btn {
  background-color: #2185d0;
  color: #fff;
} */
/* .unfavourite-btn {
  background-color: #db2828;
  color: #fff;
  text-shadow: none;
} */
.no-movies {
  padding: 20px 0;
  font-size: 30px;
  color: #6d6d6d;
  font-weight: 600;
}
